/*div{
	border: 1px solid black;
}*/
#principal{
	width: 100%;
	height: auto;
}
#cabecera{
	
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 145px;

}
#cabeceraI{
	width: 49%;
	height: 145px;
}
#cabeceraI img{
	width: 87%;
	height: 140px;
}
#cabeceraD{
	display: flex;
	flex-direction: column;
	width: 49%;
	height: 145px;
}
#cabeceraD1{
	width: 100%;
	height: 60%;
}
#cabeceraD1 img{
	float: right;
	width: 25%;
	height: 100%;
}
#cabeceraD2{
	width: 100%;
	height: 30%;
}
#cabeceraD2 img{
	float: right;
	margin-right: 3px;
	width: 30px;
	height: 30px;
}
.contenedorMenu {
	border-top: 0.5px solid #d1d4d6;
	border-bottom: 0.5px solid #d1d4d6;
    margin: 0 auto;
    display: block;  
    text-align: center;
    font-size: 16px;
	margin-bottom: 5px;
}
ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 15px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}
.acredita{
    border-right: 2px solid #3ca0e7;
}
  
li a {
    color: black;
}
  
li a:hover {
    color: #3ca0e7;
}
  
li:hover {
    cursor: pointer;
}
  
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}
  
ul li:hover > ul,
ul li ul:hover {
    z-index: 50;
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    font-size: 12px;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}


  
ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}
  
ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}
  
  
a {
    text-decoration: none;
}
ul li ul li a { 
    transition: all 0.5s ease; 
}
#contenedorNoticias{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
#noticias{
	margin: auto;
	width: 100%;
	height: 400px;
}
#noticias img{
	width: 100%;
	height: 100%;
}
#contenido{
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
	width: 100%;
	height: auto;
	grid-gap: 5px;
	justify-content: center;
}
#grid1{width: 25%; height: 25%; margin-left: 10%;}
#grid2{width: 25%; height: 25%;}
#grid3{width: 25%; height: 25%;}
#grid4{width: 25%; height: 25%;}

#contenido > div{
	flex: auto;
}
#informacion{
	display: flex;
	width: 100%;
	height: 185px;
	flex-wrap: nowrap;
}
#caja1{
	width: 100%;
	height: auto;
}
#footer{
	display: flex;
	width: 100%;
	height: 155px;
	flex-wrap: nowrap;
}
#iconos{
	display: flex;
	width: 50%;
	height: 155px;
}
.arriba{margin-top: 115px; margin-left: 620px;}
.arriba > a{
	text-decoration: none;
	margin-top: 105px;
	color: blue;
}
.arriba > a:hover{
	color: #432B4B;
	cursor: pointer;
	border-bottom: 1px #432B4B double;
}
.año{float: left; margin-top: 115px; margin-left: -100px;}
.año:hover{cursor: text;}
#fotoInformacion{
	width: 100%;
	height: 185px;
}
#redesSociales{margin-left: 30px; margin-top: 80px;}
.facebook, .twitter, .instagram{width: 30px; height: 30px;}
.facebook:hover, .twitter:hover, .instagram:hover{cursor: pointer;}
#imagenPrincipal{
    width: 100%;
    height: 350px;
}
#NDCcontenido{
    width: 100%;
    height: auto;
    margin-top: 1%;
}
h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline red;
}
#contenidoNormas{
    display: flex;
    width: 100%;
    height: auto;
}
#imagenPrincipal{
    width: 50%;
    height: auto;
}
.imagenNDC{
    width: 50%;
    height: auto;
    margin-left: 20%;
}
#enlace{
    width: 50%;
    height: auto;
}
.normas{
    float: right;
    width: 25%;
    height: 80%;
    margin-right: 10%;
    margin-top: -10%;
    box-shadow: 5px 5px black;
}
.textoEnlace{
    margin-top: 5%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50%;
}
.flecha{
    width: 5%;
    height: 5%;
    margin-left: 50%;
    margin-top: -5%;
}