#principal{
	border: 1px solid black;
	width: 100%;
	height: auto;
}
#cabecera{
	display: flex;
	width: 100%;
	height: 180px;

}
#cabeceraI{
	background-image: url("imágenes/logoFernado.png");
	background-size: 80%;
	background-repeat: no-repeat;
	width: 49%;
	height: 180px;
}
#cabeceraD{
	display: flex;
	width: 49%;
	height: 180px;
}
#cabeceraD1{
	width: 100%;
	height: 70%;
	background-image: url("imágenes/castillo.png");
	background-size: 80%;
	background-repeat: no-repeat;


}
#cabeceraD2{
	width: 100%;
	height: 30%;
}
#twitter{
	background-image: url("imágenes/tiwtter.png");
	background-size: 80%;
}
#instagram{
	background-image: url("imágenes/instagram.png");
	background-size: 80%;
}
#facebook{
	background-image: url("imágenes/facebook.png");
	background-size: 80%;
}
#contenedorMenu{
	width: 30%;
	height: 300px;
}
#menu{
    list-style: none;

}
#noticias{
	width: 70%;
	height: 300px;
	
}
#contenido{
	display: flex;
	border: 1px solid black;
	width: 100%;
	height: 400px;
	grid-gap: 50px;
	justify-content: center;
}
#grid1{width: 200px;}
#grid2{width: 200px;}
#grid3{width: 200px;}
#grid4{width: 200px; margin-right: 50px;}

#contenido > div{
	border: 1px solid black;
	flex: auto;
}
#informacion{
	display: flex;
	border: 1px solid black;
	width: 100%;
	height: 185px;
	flex-wrap: nowrap;
}
#caja1{
	border: 1px solid black;
	width: 25%;
	height: 185px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 11px;
}
#caja2{
	border: 1px solid black;
	width: 25%;
	height: 185px;
}
#caja3{
	border: 1px solid black;
	width: 25%;
	height: 185px;
}
#caja4{
	border: 1px solid black;
	width: 25%;
	height: 185px;
}
#footer{
	display: flex;
	border: 1px solid black;
	width: 100%;
	height: 155px;
	flex-wrap: nowrap;
}
#iconos{
	display: flex;
	border: 1px solid black;
	width: 50%;
	height: 155px;
}
.arriba{margin-top: 115px; margin-left: 620px;}
.arriba > a{
	text-decoration: none;
	margin-top: 105px;
	color: blue;
}
.arriba > a:hover{
	color: #432B4B;
	cursor: pointer;
	border-bottom: 1px #432B4B double;
}
.año{float: left; margin-top: 115px; margin-left: -100px;}
.año:hover{cursor: text;}
.texto{margin-left: 20px; font-size: 18px;}
.contacto{color: grey; font-size: 18px;}
#codigo{margin-left: 100px; margin-top: 19px; width: 150px; height: 150px;}
#junta{width: 120px; height: 120px; float: left; margin-top: 55px;}
#texto_junta{float: left; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin-top: 103px; line-height: 5px;}
.juntaAd{font-size: 20px;}
.conserjeria{font-size: 15px;}
#bandera_europa{float: left; margin-top: 5px; margin-left: 5px; width: 140px; height: 90px;}
.uEuropea{font-family: Arial, Helvetica, sans-serif; font-size: 21px; margin-top: 3px; margin-right: 10px;}
#comentarios{line-height: 5px; font-size: 16px; margin-top: 10px; float: right; margin-right: 9px}
#marco{box-shadow: 2px 5px 5px 2px grey; border: 2px solid grey; width: 350px; margin-left: 7px; height: 100px; margin-top: 65px;}
#redesSociales{margin-left: 30px; margin-top: 80px;}
.facebook, .twitter, .instagram{width: 30px; height: 30px;}
#fila1, #fila2, #fila3, #fila4, #fila5, #fila6, #fila7, #fila8, #fila9, #fila10, #fila11, #fila12{
	display: block; 
	border: 1px solid red; 
	width: 270px; 
	height: 100px;
	margin-left: 25px;
	margin-top: 20px;
}
.imagenes{width: 270px; height: 100px;}
