/*div{
	border: 1px solid black;
}*/
#principal{
	width: 100%;
	height: auto;
}
#cabecera{
	
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 180px;

}
#cabeceraI{
	width: 49%;
	height: 180px;
}
#cabeceraI img{
	width: 85%;
	height: 150px;
}
#cabeceraD{
	display: flex;
	flex-direction: column;
	width: 49%;
	height: 180px;
}
#cabeceraD1{
	width: 100%;
	height: 60%;
}
#cabeceraD1 img{
	float: right;
	width: 30%;
	height: 80%;
}
#cabeceraD2{
	width: 100%;
	height: 30%;
}
#cabeceraD2 img{
	float: right;
	margin-right: 3px;
	width: 30px;
	height: 30px;
}
#contenedorNoticias{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
#contenedorMenu{
	width: 25%;
	height: 300px;
}
#menu{
    list-style: none;
}
#menu li{
	width: 60%;
	margin-bottom: 2px;
	text-align: center;
	color: blue;
	
}
#menu a{
	text-decoration: none;
}
#menu li:hover{
	border-radius: 5px;
	color: black;
	background-color:rgb(226, 225, 222);
}
#noticias{
	
	width: 75%;
	height: 300px;
	
}
#noticias img{
	margin-right: 3%;
	width: 85%;
	height: 100%;
}
#contenido{
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
	border: 1px solid black;
	width: 100%;
	height: auto;
	grid-gap: 5px;
	justify-content: center;
}
#grid1{width: 25%; height: 25%; margin-left: 10%;}
#grid2{width: 25%; height: 25%;}
#grid3{width: 25%; height: 25%;}
#grid4{width: 25%; height: 25%;}

#contenido > div{
	/*border: 1px solid black;*/
	flex: auto;
}
#informacion{
	display: flex;
	/*border: 1px solid black;*/
	width: 100%;
	height: 185px;
	flex-wrap: nowrap;
}
#caja1{
	/*border: 1px solid black;*/
	width: 25%;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 11px;
}
#caja2{
	/*border: 1px solid black;*/
	width: 25%;
	height: auto;
}
#caja3{
	/*border: 1px solid black;*/
	width: 25%;
	height: auto;
}
#caja4{
	/*border: 1px solid black;*/
	width: 25%;
	height: auto;
}
#footer{
	display: flex;
	border: 1px solid black;
	width: 100%;
	height: 155px;
	flex-wrap: nowrap;
}
#iconos{
	display: flex;
	border: 1px solid black;
	width: 50%;
	height: 155px;
}
.arriba{margin-top: 115px; margin-left: 620px;}
.arriba > a{
	text-decoration: none;
	margin-top: 105px;
	color: blue;
}
.arriba > a:hover{
	color: #432B4B;
	cursor: pointer;
	border-bottom: 1px #432B4B double;
}
.año{float: left; margin-top: 115px; margin-left: -100px;}
.año:hover{cursor: text;}
.texto{margin-left: 20px; font-size: 18px;}
.contacto{color: grey; font-size: 18px;}
#codigo{margin-left: 25%; margin-top: 19px; width: 40%; height: 75%;}
#junta{width: 35%; height: 60%; float: left; margin-top: 65px;}
#texto_junta{float: left; font-family: Arial, Helvetica, sans-serif; font-size: 16px; margin-top: 103px; line-height: 5px;}
.juntaAd{font-size: 20px;}
.conserjeria{font-size: 15px;}
#bandera_europa{float: left; margin-top: 5px; margin-left: 5px; width: 140px; height: 90px;}
.uEuropea{font-family: Arial, Helvetica, sans-serif; font-size: 21px; margin-top: 3px; margin-right: 10px;}
#comentarios{line-height: 5px; font-size: 16px; margin-top: 10px; float: right; margin-right: 9px}
#marco{
	box-shadow: 2px 5px 5px 2px grey; 
	border: 2px solid grey; 
	width: 96%; 
	margin-left: 7px; 
	height: 53%; 
	margin-top: 70px;
}
#redesSociales{margin-left: 30px; margin-top: 80px;}
.facebook, .twitter, .instagram{width: 30px; height: 30px;}
.facebook:hover, .twitter:hover, .instagram:hover{cursor: pointer;}
#fila1, #fila2, #fila3, #fila4, #fila5, #fila6, #fila7, #fila8, #fila9, #fila10, #fila11, #fila12{
	display: block; 
	width: 100%; 
	height: 100px;
	/*margin-left: 0%;*/
	margin-top: 0%;
	margin-bottom: 200px;
}
.imagenes{width: 350%; height: auto;}
#texto_imagenes{color: blue; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; width: 350%;}
